Html,
body {
    padding: 0;
    margin: 0;
}


.Text {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 55%;
    margin: 1%;
}

.Text-0 {
    display: flex;
    font-size: 8px;
    width: 10%;
    color: rgb(58, 206, 194);
    align-items: center;
    text-align: center;
}

.men {
    display: flex;
    width: 40%;
}

.text-1-1 {
    color: white;
    font-size: 20px;
    text-align: center;
    flex: 1;

}

.text-1-2 {
    color: white;
    font-size: small;
    text-align: center;
    flex: 1;
    padding-bottom: 15px;

}


.menu-0 {
    display: flex;
}



.box-menu {
    background-color: aqua;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.warpper {
    margin-top: 10px;
    position: relative;

}

.menu1 {
    display: flex;
    background-color: blue;
    border: 1px solid #000;
    width: 50%;
    justify-content: center;

}

.menu2 {
    display: flex;
    background-color: blue;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;

}

.Headerbox {
    width: 100%;
    height: auto;
    background-color: rgb(58, 206, 194);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#circle {
    width: 8%;
    height: 8%;
    background-color: blue;
    border-radius: 50%;
    border: 2px solid #000;
    margin-top: 20px;
    margin-bottom: 10px;


}

.menu-1 {
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    padding: 20px;
}

.Text-2-0 {
    font-size: 15px;
    font-weight: bold;
}

#bottom-box {
    width: 100%;
    height: 50px;
    background-color: rgba(169, 169, 169, 0.432);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 10px;
}

.bigbox {
    width: 47%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 10px;
    align-items: stretch;
    margin-left: 27%;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;

}

p {
    line-height: 15px;
    color: #000;
    font-size: 10px;
}

.minibox {
    width: 100%;
    height: 58px;
    background-color: rgb(26, 26, 88);
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 1;
    opacity: 0.7;

}

.minitext {
    color: white;
    font-size: 8px;
    padding-top: 4%;
    padding-left: 5%;
    line-height: 6px;
}

.minitext1 {
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-left: 14%;
    padding-top: 4%;

}

@media only screen and (max-width:750px) {
    .menu-0 {
        flex-direction: column;

    }

    .Text {
        justify-content: center;
        width: 100%;
    }

    .men {
        width: 100%;
        justify-content: center;
        margin: 10px;
    }

    .Text-0 {
        width: 20%;
        justify-content: center;

    }

    .bigbox {
        flex-direction: column;
    }

    .minitext {
        display: none;
    }

    .minibox {
        height: 20%;
    }

}